Package: wlinux-security
Section: utils
Maintainer: Whitewater Foundry, Ltd. Co. <contact@whitewaterfoundry.com>
Architecture: all
Version: 1.2
Priority: optional
Depends: 
Description: wlinux-security